@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-primary--before:before {
    background-color: theme('colors.primary');
    width: 100%;
    height: 500%;
    content: '';
    left: 70%;
    bottom: -80%;
    position: absolute;
    transform: rotate(25deg);
}

::-moz-selection { /* Code for Firefox */
    color: theme('colors.primary');
    background: theme('colors.secondary');
  }
  
::selection {
    color: theme('colors.primary');
    background: theme('colors.secondary');
}

p {
    margin-bottom: 1rem;
}

.logged-in-as a{
    text-decoration: underline;
}



/*
effects
-----------------------------------*/

.effect-cloudliquid {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: table;
}
.effect-cloudliquid:hover:after {
    transform: scaleY(1);
    transform-origin: top;
}
.effect-cloudliquid:after {
    background-color: theme('colors.primary');
    border-radius: 50%;
    bottom: -100%;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition-duration: 1s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.14,0,0,1.01);
    will-change: transform;
    z-index: -1;
}




/*
Header 
-----------------------------------*/

.menu-item-has-children .menu-sub {
    opacity: 0;
    visibility: hidden;
    transition: ease 0.4s all;
    transform: translateY(10px);
}

.menu-item-has-children:hover .menu-sub {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-item-has-children .menu-sub  .menu-sub{
    position: relative !important;
     width: 100% !important;
}



/* image ratio */

.image {
    overflow: hidden;
    width: 100%;
}

.image:hover figure a img {
    transform: scale(1.1);
}
.image figure {
    position: relative;
    width: 100%;
    padding-top: 66.66%;
    overflow: hidden;
}

.image.image-1by1 figure {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.image figure a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.image figure a{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.image figure a img {
    transition: all .5s cubic-bezier(.14,0,0,1.01);
}


/* portfolio */


.hero_banner .slick-track {
    height: 100%;
}
.hero_banner .slick-list {
    height: 100%;
}

.slick-slider .slick-arrow {
    position: relative;
    @media screen(md) {
        position: absolute;
        bottom: 0;
    }
    
    width: 48px;
    height: 48px;
    font-size: 0;
    border: 0;
    outline: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    top: 0;
    margin: auto 0;
    background-color: #111;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: all 300ms ease-in-out;
}

.slick-slider .slick-arrow:before {
    display: none;
}

.slick-slider .slick-prev {
    left: 0;
    z-index: 1;
    background-image: url(../images/prev-arrow-icon.svg);
}

.slick-slider .slick-next {
    right: 0;
    background-image: url(../images/next-arrow-icon.svg);
}

.slick-slider .slick-slider {
    margin: 0 -15px;
}

