
p::-moz-selection { color: $white; background: $primary;}
p::selection { color: $white; background: $primary; }
::-moz-selection { background: $primary;color: $white; }
::selection { background: $primary; color: $white;}

body {
    font-family: $font-opensans;
    font-size: 18px;
    background-color: $bg-default;
}

li {
    list-style: none;
    &:focus {
        outline: none;
    }
}
ul, li {
    margin:0;
    padding:0;
}

a {
    color: $black;
    transition: 0.4s ease color;
    &:hover, &:visited {
        color: $primary;
    }
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

.row {
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
}

.border-radius-0 {
    border-radius: 0;
}