

h1, h2, h3, h4, h5, h6 {
    font-family: $font-merriweather;
    font-weight: 700;
}


h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}


h4 {
    font-size: 22px;
}

h5 {
    font-size: 15px;
}



.font-sm {
    font-size: 13px !important;
}