


a[rel~="tag"], a[rel~="category"] {
    border:solid 1px $black;
    padding:3px 8px 3px 8px;
    border: 1px solid #909090;
    margin:0 10px 0 0;
    font-size: 14px;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s all;
    &:hover {
        border: 1px solid transparent;
        background: #f2f2f2;
        color: #909090;
    }
}