

.entry-date, 
.updated, 
.post-date, 
.byline a {
    font-size: 12px;
}
.entry-date, 
.updated, 
.byline, .byline a {
    color: #666;
}
.post-date, 
.post-author a {
    color: #ccc;
}



.featured3-main {
    position: relative;
    .post-list-wrap {
        
        @include media-breakpoint-down(sm){
            background-color: $black;
        }
        @include media-breakpoint-up(md){
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            color: #fff;
            padding: 30px 0;
            z-index: 10;
            // pointer-events: none;
        }
    }
    .thumb{
        position: relative;
        background-color: #2e5d5a;
        overflow: hidden;
        opacity: 1;
        -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
        width: 100%;
        position: relative;
        z-index: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 300px;
        @include media-breakpoint-up(md){
            height: 540px;
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
            background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        }
    }
    a {
        color: $white;
        &:visited {
            color: $white;
        }
    }

    .bk-thumb-wrap {
        @include media-breakpoint-down(sm) {
            position: relative;
        }

    }
}


.post-list-wrap .list-small-post {
    padding-top: 15px;
    margin-top: 30px;
    @include media-breakpoint-up(md) {
        border-top: 1px solid rgba(255,255,255,.26);
    }
}

.large-post-content {
    max-width: 700px;

    .title {
        margin: 22px 0 15px 0;
        max-width: 700px;
    
        a {
            color: $white;
        }
    }
}

.post-c-wrap {
    @include media-breakpoint-down(sm){
        display: inline-block;
        padding-left: 14px;
    }
    .title {
        font-size: 38px;
        font-weight: 700;
    }
}

.meta > div {
    display: inline;
    margin-right: 12px;
    font-size: 12px;
}

.list-small-post li {
    margin-top: 0;
    @include media-breakpoint-down(sm){
        border-top: 1px solid rgba(255,255,255,.26);
        padding-top: 10px;
        padding-bottom: 5px;
        &:before {
            content:"";
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: $white;
            position: absolute;
            top: 17px;
        }
        padding-left: 10px;
    }
    &:not(:first-child){
        @include media-breakpoint-up(md){
            border-top:none;
            border-left: 1px solid rgba(255,255,255,.26);
        }
    }
}


@media (min-width: 1200px){
    .bkwrapper {
        width: 1170px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.bk-thumb-wrap > a, .content_in .link-overlap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}

.module-title:before {
    content: '';
    height: 3px;
    width: 65px;
    background: #333;
    top: 100%;
    left: 0;
    position: absolute;
}

.module-title:before {
    background: #ed1b2f;
}

.module-title {
    background: none;
    position: relative;
    border-bottom: 3px solid #f2f2f2;
}


.first-image-display {
    >.card:not(:first-child) .image{
        display: none;
    }
}

.card {
    .entry-meta {
        margin-bottom: 10px;
    }
    h3, h5, p {
        margin-bottom:0;
    }
    p {
      font-size: 16px;  
    }
}
